{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrderParserPlugins": ["typescript", "jsx"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
